<script src="{{ siteUrl }}assets/build/js/jquery-3.2.1.min.js"></script>
<script src="{{ siteUrl }}assets/build/js/slick.min.js"></script>
<script src="{{ siteUrl }}assets/build/js/scripts.min.js"></script>
<script>
$('.work').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  dots: true,
  arrows: true,
  adaptiveHeight: true,
  prevArrow:"<button class='slick-prev slick-arrow' aria-label='Prev' type='button'></button>",
  nextArrow:"<button class='slick-next slick-arrow' aria-label='Next' type='button'></button>"
});
</script>

